



$card-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);



/* colors */
$main-background-color: rgba(88, 115, 254, 0.04);
$primary-clickable: #17a2b8;


/* fonts */
$font-huge: 42px;
$font-big: 32px;
$font-normal: 24px;
$font-small: 18px;
